@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  /* Global body html reset */
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden !important;
    background: var(--background);
    color: var(--foreground);
  }

  /* Chrome / Safari / Edge */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  html {
    scrollbar-width: none;
  }

  /* IE / Edge lama */
  body {
    -ms-overflow-style: none;
  }
}